body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; 
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0288d1; 
    color: white;
    padding: 20px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    text-decoration: underline;
}

.cart-button {
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.cart-button img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

p, h2 {
    margin: 20px 0;
}

.course_section, .mentorship_section, .code_review_section {
    background-color: white;
    border: 1px solid #b3e5fc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s;
}

.course_section:hover, .mentorship_section:hover, .code_review_section:hover {
    transform: scale(1.05);
}

.course_section div, .mentorship_section div, .code_review_section div {
    background-color: white;
    border: 1px solid #b3e5fc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.more-info h3 {
    margin-top: 0;
    color: #0288d1; 
}

.more-info p {
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #0288d1; 
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #0277bd; 
}

footer {
    background-color: #0288d1; 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.social_icons ul {
    display: flex; /* Make the list items display in a row */
    list-style: none; /* Remove bullet points */
    padding: 50; 
    margin: 50; 
  }
  
.social_icons ul li {
    margin: 0 70px; /* Add spacing between icons */
  }
  
.social_icons ul li a {
    text-decoration: none; /* Remove underline from links */
  }
  
.social_icons svg {
    display: block; /* Ensure SVGs don't overlap */
    width: 40px; 
    height: 40px; 
  }
  

footer img { 
    display: block; 
    margin: 0 auto 20px; 
    width: 100px;  
    height: auto; 
}

footer nav {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

footer nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

footer nav a:hover {
    text-decoration: underline;
}


