header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    background-color: var(--main-colour);

    height: 60vh;
    overflow: hidden;
}

header div{
    margin: 8%;
}

header div h2{
    padding-left: 20px;
}

header img{
    max-width: 40%;
    height: auto;
}

#info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

#info div{
    
    background-color: var(--accent-colour-2);
    width: max-content;
    margin: 25px auto;
    padding: 30px 50px; 

    border-radius: 1em;
    text-align: center;
}

#infoH2{
    padding: 20px;
    text-align: center;
}