#invoice > :not(table) {
  padding: 0 1in;
}

#invoice {
  margin: 60px auto;
  width: 8.5in;
  min-height: 8in;

  background-color: white;
  background-image: linear-gradient(
      color-mix(in srgb, var(--main-colour) 70%, #ffffff00 30%),
      #ffffff 40%
    ),
    url("/images/invoice_bg_img.png");

  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  box-shadow: 0 0 1in rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#invoice header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1in;
}

#invoice h1 {
  text-align: center;
  padding: 20px 0 40px;
}

#invoice img{
  width: 100%;
  max-width: 120px;
  height: auto;
  object-fit: contain;
}



#invoice #billing_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#invoice table {
  --table-row-colour: var(--accent-colour-1);
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#invoice table thead {
  background-color: var(--table-row-colour);
}

#invoice table tbody tr:nth-child(even) {
  background-color: color-mix(
    in srgb,
    var(--table-row-colour) 30%,
    #ffffff 30%
  );
}


#invoice th, #invoice td {
  padding: 0 1in;
  text-align: left;

}

#invoice tfoot th{
  text-align: right;
}

#invoice table tfoot {
  border-top: 2px solid black;
}

#buttons {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
}




@media print {
  #nav_bar, footer, #buttons{
    display: none !important;
  }
  body{
    background-color: white;
  }
  #invoice {
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-image: none;
    background-color: white;
    page-break-after: always;

  }

}