body{
    background-color: var(--accent-colour-1);
    /* height: 100vh; */
}



#login_signup_form{
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: fit-content;
    overflow: hidden;
    margin: 100px auto;
    
    background-color:  white;
    text-align: center;

    display: flex;
}

#login_signup_form>div{
    width: 50%;
    padding: 70px 40px;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
}

#login_signup_form>div>div ,#login_signup_form>div>form{
    /* margin: 50px auto; */
    height: 480px;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#login_signup_form input{
    background-color: #eee;
    width: 80%;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
}

#login_signup_form a, #login_signup_form button{
    width: fit-content;

    margin: 30px 0 ;
}

#login_signup_form a{
    font-size: 1rem;
    margin-bottom: 10px;
}



.hidden{
    /* visibility: hidden;
    display: none !important; */
    opacity: 0 !important;
    height: 0 !important;
    overflow: hidden;

}

